@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --container-background: "",
  --primary-background: "#2E236C",
  --second-background: "#433D8B",
  --primary-text: "#433D8B"

}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.listItem {
  @apply dark:hover:bg-slate-600 hover:bg-slate-200;
}

.incomplete-task {
  @apply scale-75;
}

.completed-task {
  @apply scale-50;
}

.active-list-item {
  @apply dark:bg-slate-800 bg-slate-200;
}

.task-completed {
  @apply line-through text-slate-500;
}
