@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --container-background: "",
  --primary-background: "#2E236C",
  --second-background: "#433D8B",
  --primary-text: "#433D8B"

}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  transition: all;
}

#sidebar{
  @apply absolute top-0 left-0 z-10 bg-slate-900 w-[90%] h-full
  sm:z-auto sm:top-auto sm:left-auto sm:relative 
  bg-gradient-to-br 
  dark:from-slate-700/50 dark:to-slate-900/50 dark:text-slate-300 
  from-slate-600/80 to-slate-600 text-slate-950 
  sm:w-[250px] sm:translate-x-0 
  lg:w-[250px] 
  px-2 py-4 transition-all 
  flex flex-col;
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.listItem {
  @apply dark:hover:bg-slate-600 dark:text-slate-300 
        hover:bg-slate-400 hover:to-slate-700 text-slate-950;
}

.active-list-item {
  @apply dark:bg-slate-700 dark:text-slate-300 
        bg-slate-400 text-slate-950 font-medium;
}

.incomplete-task {
  @apply scale-75;
}

.completed-task {
  @apply scale-50;
}

.task-completed {
  @apply line-through dark:text-slate-500 text-slate-700;
}

.task-pending {
  @apply text-white dark:text-slate-300;
}

.animate-appear{
  animation: appear 1s forwards;
}


@keyframes appear{
  from{
    opacity: 0;
  } to{
    opacity: 1;
  }
}